.text-center {
  text-align: center;
}
.margin-top-4 {
  margin-top: 4px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-left-5 {
  margin-left: 5px;
}
.front-veight-700 {
  font-weight: 700;
}
.front-size-22 {
 font-size: 22px;
}